<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Spring Boot Contacts</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
    <h2>Spring Boot Contacts</h2>
    <form method="POST">
        <lable for="firsNname" >First Name:</lable>
         <input type="text" name="firstName"></input><br/>
        <lable for="lastName" >Last Name:</lable>
         <input type="text" name="lastName"></input><br/>
        <lable for="phoneNumber" >Phone #:</lable>
         <input type="text" name="phoneNumber"></input><br/>
        <lable for="emailAddress" >Emaile:</lable>
         <input type="text" name="emailAddress"></input><br/>
        <input type="submit"></input>
        </form>

       <ul th:each="contact" : ${contacts}>
        <li>
            <span th:text="${contact.firstName}">First</span>
            <span th:text="${contact.lastName}">Last</span>
            <span th:text="${contact.phoneNumber}">phoneNumber</span>
            <span th:text="${contact.emailAddress}">emailAddress</span>
        </li>
       </ul>
</body>
</html>